@model CreatePostViewModel

@{
    ViewBag.Title = "Create";
}


@section scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script src="~/Scripts/CreateEditPost.js"></script>

}

<h2>Create New Post</h2>


<form class="form-group" method="post" enctype="multipart/form-data">
    @Html.ValidationSummary(false)

    <div class="form-group">

        @Html.LabelFor(Model => Model.Title, "Title : ")
        @Html.TextBoxFor(Model => Model.Title, new { @class = "form-control  ", placeholder = "Title" })

        <div class="text-danger">
            @Html.ValidationMessageFor(Model => Model.Title)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(Model => Model.Body, "Article : ")
        @Html.TextAreaFor(Model => Model.Body, new { @class = "form-control ", placeholder = "Article" })

        <div class="text-danger">
            @Html.ValidationMessageFor(Model => Model.Body)
        </div>
    </div>

    <div>
        @Html.LabelFor(Model => Model.Media, "File Upload :")
        <input type="file" name="Media" /> 
    </div>
    <p></p>
    <div class="form-group">
        @Html.LabelFor(Model => Model.Published, "Publish : ")
        @Html.CheckBoxFor(Model => Model.Published, new { @class = "checkbox-inline" })
    </div>
    <div class="form-group">
        @Html.LabelFor(Model => Model.MainSlide, "Main Slide : ")
        @Html.CheckBoxFor(Model => Model.MainSlide, new { @class = "checkbox-inline" })
    </div>


    <button type="submit" class="btn-primary">Submit</button>
    <p></p>
</form>